@import url(/assets/style/css/fonts.css);

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background: 
    linear-gradient(to bottom, rgba(6, 18, 30, 0) 85%, #06121E 100%),
                url('/assets/images/unsplash_5P_DABYHK1A.jpg') no-repeat center center;
    background-repeat: no-repeat;
    background-size:cover;  
    
}

.logo img, #footerLogo img {
    filter: brightness(0) invert(1);
    height: 210px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#left img, #socialFooter img {
    height: 30px;
}

#left {
    margin-left: 25px;
    display: flex;
    gap: 15px;
    width: 174px;
}

#right button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    margin-right: 25px;
    width: 150px;
    cursor: pointer;
}

#phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 109px;
    cursor: pointer;
    text-align: center;
}

p {
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    cursor: pointer;
}

.mainButton {
    background-color: #C5A54C;
    color: #fff;
    font-size:medium;
    padding: 15px;
    width: 200px;
    border: none;
    margin-bottom: 165px;
    cursor: pointer;
}

.mainButton:hover {
    background-color: #A8893B;
}

#center {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #06121E;
}

.arrowDown {
    position: relative;
    bottom: 65px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.arrowDown:hover {
    filter: brightness(10) invert(1);
}

.about {
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    margin: 170px 0 0 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    color: #C5A54C;

}

.about p {
    text-transform: none;
    font-size: large;
    font-weight: 200;
    color: #fff;
}

.container {
    margin-top: 100px;
    display: flex;
}
.container img {
    height: 310px;
}

main {
    display: flex;
}

section, article {
    background-color: #fff;
}

section h1, article h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-transform: uppercase;
    color: #C5A54C;
    padding-top: 100px;
    padding-bottom: 30px;
}

section p {
    margin-top: 0;
    color: #000;
}

.cards img {
    height: 400px;
    border-radius: 40px;
}
.cards {
    display: grid;
    margin-top: 50px;
    margin-left: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
}

.card-content {
    margin: 150px 0px 0 30px;
}

.card-content h2 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
}

.card-content button {
    padding: 15px;
    margin-top: 10px;
    background-color: #c3aa72;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.card-content button:hover {
    background-color: #A48A5A;
}

article h1 {
    margin-top: 0px;
    
}

article {
    padding-bottom: 50px;
}

#map {
    height: 400px;
    width: 1000px;
    left: 20%;
    border-radius: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#socialFooter {
    margin-top: 26px;
    display: flex;
    gap: 10px;
}

#copyright {
    margin-bottom: 20px;
}

#img3 {
    border-radius: 155px;
    position: relative;
    right: 146px;
}

#img2 {
    border-radius: 155px;
    position: relative;
    left: 275px;
}

#img1 {
    border-radius: 150px;
    position: relative;
    left: 92px;
}

@media screen and (max-width: 768px) {
    .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #right button {
        display: none;
    }

    #left {
        justify-content: center;
        margin: 0;
    }

    header {
        background-position-x: -327px;
        background-position-y: -136px;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {

}
